<div id="renderMolecules">
  {% if generation_request.complete %}
    <img src="{{molecule.molecular_structure.url}}" class="img-fluid"><br>
    <b>
      {{molecule.smile_identifier}}
      <br>
    </b>
    <br>

    <div class="album p-5 bg-body-tertiary">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for molecule in generation_request.get_molecules %}

            <div class="col">
              <div class="card shadow-sm">
                <img src="{{molecule.molecular_structure.url}}" alt="" class="card-img-top">
                <div class="card-body">
                  <p class="card-text">
                    Smile identifier: <b>{{molecule.smile_identifier}}</b>


                    <br>

                    {% comment %} if ic50 etc... for other parameters {% endcomment %}
                    Predicted IC50: <b>10 uM</b>
                    <br>
                    SA (Synthetic Accessibility score): <b>{{molecule.synthetic_accessibility_score}}</b>
                  </p>
                  <div class="d-flex justify-content-end align-items-end">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Save</button>
                      <button type="button" class="btn btn-sm btn-outline-primary">View details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>




  {% else %}
    <div class="justify-content-center  d-flex"
         hx-get="{% url "poll_for_request_completion" generation_request.uuid %}"
         hx-trigger="every 1s"
         hx-target="#renderMolecules"
         hx-swap="outerHTML"
         hx-indicator="#spinner"



    >

      <div id="spinner" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>


    </div>

  {% endif %}
</div>