{% load static %}
{% include 'home_site/includes/head.html' %}

<title> {% block title %}{{site.site_slogan}}{% endblock title %} | {{site.site_name}}</title>
<meta name="description" content="{% block meta_description %}{% endblock meta_description %}"/>
{% autoescape off %}
    {% if site.site_meta_tags %}
        {{site.site_meta_tags}}
    {% endif %}
{% endautoescape %}

</head>
<!--end::Head-->
{% autoescape off %}
    {{site.site_global_analytics}}
{% endautoescape %}

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>


    {% include "home_site/includes/header.html" %}

    <div class="container">

        {% for message in messages %}

            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

        {% endfor %}


    </div>

    {% block content %}

    {% endblock content %}

    {% include 'home_site/includes/footer.html' %}

    {% block scripts %}
    {% endblock scripts %}




