{% extends "home_site/base.html" %}
{% load static %}


{% block content %}


<div class="container my-5 ">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 px-5 align-items-center rounded-3 border border-dark shadow-lg">
      <div class="col-lg-6 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Generate de novo molecules using AI</h1>
        <p class="lead">Quickly create thousands of druglike molecules, filter by chemical properties and generate reports of molecules for further screening</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a href="{% url "login_user" %}" type="button" class="btn site-button btn-lg px-4 me-md-2 fw-bold">Login </a>
          <a href="{% url "register_user" %}" type="button" class="btn site-secondary-button btn-lg px-4">Signup</a>
        </div>
      </div>
      <div class="col-lg-5  shadow-lg">
          <img class="rounded-lg-3 img-fluid" src="{% static 'images/demo.jpg' %}" alt="" width="720">
      </div>
    </div>
  </div>



    <div class="mt-5">


        <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">

            <div class="col-11 mx-auto  px-5">

                <h2 class="display-5 fw-bold lh-1 mb-3 text-center">How it works<span class="text-primary"></span></h2>                
           
            </div>

        </div>



    </div>


<div class="">

    <div class="container marketing">

    
        <!-- START THE FEATURETTES -->
    
        <hr class="featurette-divider">
    
        <div class="row featurette py-3">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Select your target or upload molecules
            </h2>
            <p class="lead">Choose from a wide range of targets to generate druglike molecles similar to those that are active at the target or upload your own set of molecules to generate compounds that are similar to them</p>
          </div>
          <div class="col-md-5">
            <img src="{% static "images/demo2.jpg" %}" class="featurette-image img-fluid mx-auto" alt="">
         
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette py-3">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">View and filter generated molecules
            </h2>
            <p class="lead">Filter by phyiscochemical properties, druglikeness and synthesizability to select the ideal molecules to progress to the next stage of screening</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="{% static "images/demo3.jpg" %}" class="featurette-image img-fluid mx-auto" alt="">

          </div>
        </div>
    
        <hr class="featurette-divider py-3">
    
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Create reports and export molecules to csv</h2>
            <p class="lead">
                Add your chosen molecules to reports that you then export. Export the molecular SMILES and molecular properties to an easy to process csv for further analysis.


            </p>
          </div>
          <div class="col-md-5">
            <img src="{% static "images/demo4.jpg" %}" class="featurette-image img-fluid mx-auto" alt="">

          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <!-- /END THE FEATURETTES -->
    
      </div>
</div>

{% endblock content %}