<div class="p-5">


  <div class=" " style="
    {% comment %} position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top:10rem; {% endcomment %}
                        z-index:1000;
                       "
  >

    <div class="">

      <div class="accordion accordion-flush p-1 border border-1 border-dark rounded col-8 mx-auto" id="accordionFilters">

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
              <b>
                Molecule Filters
              </b>
            </button>
          </h2>
          <div id="collapseFilters" class="accordion-collapse collapse" data-bs-parent="#accordionFilters">
            <div class="accordion-body">
              <b>
                Physicochemical properties
              </b>


              <div class="row">
                <div class="">

                  Molecular mass:
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="From (molecular mass g/mol)" >
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="To (molecular mass g/mol)" >
                </div>
              </div>





            </div>
          </div>
        </div>

      </div>

      <br>


    </div>


  </div>
</div>