<div class="p-1">


  <div class=" " style="
    {% comment %} position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top:10rem; {% endcomment %}
                        z-index:1000;
                       "
  >

    <div class="">

      <div class="accordion accordion-flush border border-1 border-dark rounded col-12 col-sm-8 mx-auto" id="accordionFilters">

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
              <b>
                Molecule Filters
              </b>
            </button>
          </h2>
          <div id="collapseFilters" class="accordion-collapse collapse" data-bs-parent="#accordionFilters">
            <form
              id="filterMoleculesForm"
              hx-get="{% url "filter_molecules_htmx" generation_request.uuid %}"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
              hx-target="#renderMolecules"
              hx-swap="outerHTML"
            >

              <div class="accordion-body">
                <b>
                  Physicochemical properties
                </b>


                <div class="row">
                  <div class="">

                    Molecular mass:
                  </div>
                  <div class="col form-floating p-1">
                    <input id="molecular_mass_from" type="text" name="molecular_mass_from" class="form-control" placeholder="" value="{{molecular_mass_from}}">
                    <label for="molecular_mass_from">From (>= molecular mass g/mol)</label>
                  </div>
                  <div class="col form-floating p-1">
                    <input id="molecular_mass_to" type="text" name="molecular_mass_to" class="form-control" placeholder="" value="{{molecular_mass_to}}" >
                    <label for="molecular_mass_to">To (<= molecular mass g/mol)</label>
                  </div>

                </div>

                <div class="row">
                  <div class="">

                    H-bond acceptors:
                  </div>
                  <div class="col form-floating p-1">
                    <input id="H_bond_acceptors_from" type="text" name="H_bond_acceptors_from" class="form-control" placeholder="" value="{{H_bond_acceptors_from}}">
                    <label for="H_bond_acceptors_from">From (>= H-bond acceptors)</label>
                  </div>
                  <div class="col form-floating p-1">
                    <input id="H_bond_acceptors_to" type="text" name="H_bond_acceptors_to" class="form-control" placeholder="" value="{{H_bond_acceptors_to}}" >
                    <label for="H_bond_acceptors_to">To (<= H-bond acceptors)</label>
                  </div>

                </div>

                <div class="row">
                  <div class="">

                    H-bond donors:
                  </div>
                  <div class="col form-floating p-1">
                    <input id="H_bond_donors_from" type="text" name="H_bond_donors_from" class="form-control" placeholder="" value="{{H_bond_donors_from}}">
                    <label for="H_bond_donors_from">From (>= H-bond donors)</label>
                  </div>
                  <div class="col form-floating p-1">
                    <input id="H_bond_donors_to" type="text" name="H_bond_donors_to" class="form-control" placeholder="" value="{{H_bond_donors_to}}" >
                    <label for="H_bond_donors_to">To (<= H-bond donors)</label>
                  </div>

                </div>


                <div class="row">
                  <div class="">

                    Heavy atoms:
                  </div>
                  <div class="col form-floating p-1">
                    <input id="heavy_atoms_from" type="text" name="heavy_atoms_from" class="form-control" placeholder="" value="{{heavy_atoms_from}}">
                    <label for="heavy_atoms_from">From (>= Heavy atoms)</label>
                  </div>
                  <div class="col form-floating p-1">
                    <input id="heavy_atoms_to" type="text" name="heavy_atoms_to" class="form-control" placeholder="" value="{{heavy_atoms_to}}" >
                    <label for="heavy_atoms_to">To (<= Heavy atoms)</label>
                  </div>

                </div>

                <div class="row">
                  <div class="">

                    Rotatable bonds:
                  </div>
                  <div class="col form-floating p-1">
                    <input id="rotatable_bonds_from" type="text" name="rotatable_bonds_from" class="form-control" placeholder="" value="{{rotatable_bonds_from}}">
                    <label for="rotatable_bonds_from">From (>=Rotatable bonds)</label>
                  </div>
                  <div class="col form-floating p-1">
                    <input id="rotatable_bonds_to" type="text" name="rotatable_bonds_to" class="form-control" placeholder="" value="{{rotatable_bonds_to}}" >
                    <label for="rotatable_bonds_to">To (<=Rotatable bonds)</label>
                  </div>

                </div>

                <b>
                  Druglikeness
                </b>

                <div class="row">
                  <div class="">

                    Lipinski's violations:
                  </div>
                  <div class="col form-floating p-1">
                    <input id="lipinskis_violations_from" type="text" name="lipinskis_violations_from" class="form-control" placeholder="" value="{{lipinskis_violations_from}}">
                    <label for="lipinskis_violations_from">From (>= Lipinski's violations)</label>
                  </div>
                  <div class="col form-floating p-1">
                    <input id="lipinskis_violations_to" type="text" name="lipinskis_violations_to" class="form-control" placeholder="" value="{{lipinskis_violations_to}}" >
                    <label for="lipinskis_violations_to">To (<= Lipinski's violations)</label>
                  </div>

                </div>

                <b>
                  Synthesizability
                </b>

                <div class="row">
                  <div class="">

                    Synthetic Accessibility score (SA score):
                  </div>
                  <div class="col form-floating p-1">
                    <input id="synthetic_accessibility_score_from" type="text" name="synthetic_accessibility_score_from" class="form-control" placeholder="" value="{{synthetic_accessibility_score_from}}">
                    <label for="synthetic_accessibility_score_from">From (>= Synthetic Accessibility score)</label>
                  </div>
                  <div class="col form-floating p-1">
                    <input id="synthetic_accessibility_score_to" type="text" name="synthetic_accessibility_score_to" class="form-control" placeholder="" value="{{synthetic_accessibility_score_to}}" >
                    <label for="synthetic_accessibility_score_to">To (<= Synthetic Accessibility score)</label>
                  </div>

                </div>


                <div class="mt-3 text-end">

                  <button type="submit" class="btn site-button">Filter</button>
                </div>


              </div>
            </form>
          </div>
        </div>

      </div>

      <br>


    </div>


  </div>
</div>