<div class="container" id="renderMolecules">
  <h2 class=" display-5 mt-5 pt-5 text-center">
    Generated molecules
  </h2>



  {% if generation_request.complete %}

  {% include "molecule_filters.html" %}


    <div class="album px-5 py-4 bg-body-secondary">

      <div>
        Molecule count: {{molecule_count}}
      </div>


      <div class="text-end">

        <div class="btn-group mb-3">

          <button  disabled class="btn btn-primary mx-2">Generate more molecules</button>
          <button href="#" class="btn btn-primary mx-2">Add all to report</button>
          <button href="#" class="btn btn-primary mx-2">Export molecules to csv</button>

        </div>
      </div>
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for molecule in molecules %}

            <div class="col">
              <div class="card shadow-sm">

                <img src="{{molecule.molecular_structure.url}}" alt="" class="card-img-top">
                <div class="card-body">
                  <p class="card-text">
                    SMILES
                    <br>
                    <b>{{molecule.smile_identifier}}</b>


                    <br>

                    <div class="d-flex justify-content-end align-items-end  p-3">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Add to report</button>

                        <button type="button" class="btn btn-sm btn-outline-secondary">Save</button>
                      </div>
                    </div>


                    <div class="accordion" id="accordion{{forloop.counter}}">
                      <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
                            Molecule details
                          </button>
                        </h2>
                        <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                          <div class="accordion-body">

                            <b class="text-center">Physicochemical</b>

                            <div class="p-1">
                              Molecular formula: <b>{{molecule.molecular_formula}}</b>
                              <br>
                              Molecular weight: <b>{{molecule.molecular_weight}} g/mol</b>
                              <br>
                              H-bond acceptors: <b>{{molecule.H_bond_acceptors}}</b>
                              <br>
                              H-bond donors: <b>{{molecule.H_bond_donors}}</b>
                              <br>
                              Heavy atoms: <b>{{molecule.heavy_atoms}}</b>
                              <br>
                              Rotatable bonds: <b>{{molecule.rotatable_bonds}}</b>


                            </div>

                            <br>

                            <b class="text-center"> Druglikeness</b>

                            <div class="p-1">
                              Lipinski's descriptors: <b > <span>{{molecule.lipinskis_violations}}</span> violations </b>
                            </div>

                            <br>

                            <b class="text-center">Synthesizability</b>

                            <div class="p-1">
                              SA (Synthetic Accessibility score): <b>{{molecule.synthetic_accessibility_score}}</b>
                            </div>

                          </div>
                        </div>
                      </div>

                    </div>



                  </p>

                </div>

              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>




  {% else %}
    <div class="justify-content-center  d-flex"
         hx-get="{% url "poll_for_request_completion" generation_request.uuid %}"
         hx-trigger="every 1s"
         hx-target="#renderMolecules"
         hx-swap="outerHTML"
         hx-indicator="#spinner"



    >

      <div id="spinner" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>


    </div>

  {% endif %}
</div>