<div class="container" id="renderMolecules">
  <h2 class=" display-5 mt-5 pt-5 text-center">
    Generated molecules
  </h2>



  {% if generation_request.complete %}
    {% include "molecule_filters.html" %}


    {% include "includes/molecule_display.html" %}


  {% else %}
    <div class="justify-content-center  d-flex"
         hx-get="{% url "poll_for_request_completion" generation_request.uuid %}"
         hx-trigger="every 1s"
         hx-target="#renderMolecules"
         hx-swap="outerHTML"
         hx-indicator="#spinner"



    >
    <div id="spinner" class="spinner-border mx-3" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <h4 class="text-center">
      {% if not generation_request.complete %}
        Generating molecules please wait...
        {% else %}
        Loading molecules please wait....
        {% endif %}
    </h4>
        <br>


    </div>

  {% endif %}
</div>