<div class="">

    <div class="w-70 mx-auto navbarr">
        <a href="/" aria-label="home" id="" aria-current="page"
           class="theme-a-nav_logo-wrap w-inline-block w--current"><img loading="lazy" alt="XYZ" class="theme-a-nav_logo"
                                                                     src=""></a>
        <div class="menu-items">
            <ul>
                {% comment %} <li>

                    <a id="heading1" href="">
                        De Novo Molecule Generation
                    </a>
                    <div onmouseover="const mouseoverEvent = new Event('mouseover');this.previousElementSibling.classList.add('hovered')"

                        onmouseout="const mouseoverEvent = new Event('mouseover');this.previousElementSibling.classList.remove('hovered')"
                        id="object1" class="position-absolute hide opac">

                        <div class="theme-a-nav_dropdown-menu ca-de-novo border border-1 border-dark rounded shadow-lg">
                            <div class="solutionss">
                                <img src="" alt="">
                                <div class="a-text_s">The XYZ Platform</div>
                                <p class="a-paragraph_s">Reimagine how you come up with de novo molecules with our AI
                                    platform.
                                    Transform data into drug like compounds.
                                </p>
                                <div class=" ca-text_black-500">
                                    <div class="a-text_s ca-600">Learn More</div>
                                    <div class="ca-icon_s w-embed"
                                         style="transform: translate3d(0em, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        <svg width="100%" height="100%" viewBox="0 0 16 17" fill="#000"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M8 0.651611L6.59 2.06161L12.17 7.65161H0V9.65161H12.17L6.59 15.2416L8 16.6516L16 8.65161L8 0.651611Z"
                                                fill="#000"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-a-nav_line"></div>
                            <div class="display-flex-column-gap-1.5">

                                <a href="#" class="theme-a-nav_dropdown-menu_item w-inline-block">
                                    <img src=""
                                         class="theme-a-nav_dropdown-menu_icon" alt="">
                                    <div class="">
                                        <div class="a-text_ss ca-text_white-600">How it works</div>
                                        <div class="a-text_xs ca-text_grey-400">
                                            Find out what goes on to generate molecules
                                        </div>
                                    </div>
                                    <svg width="11px" height="11px" viewBox="0 0 8 12" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.604 11L6.604 6L1.604 1" stroke="#fff" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                                <a href="#" class="theme-a-nav_dropdown-menu_item w-inline-block">
                                    <img src=""
                                         class="theme-a-nav_dropdown-menu_icon" alt="">
                                    <div class="">
                                        <div class="a-text_ss ca-text_white-600">XYZ Generate</div>
                                        <div class="a-text_xs ca-text_grey-400">Lorem ipsum
                                        </div>
                                    </div>
                                    <svg width="11px" height="11px" viewBox="0 0 8 12" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.604 11L6.604 6L1.604 1" stroke="#fff" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                                <a href="#" class="theme-a-nav_dropdown-menu_item w-inline-block">
                                    <img src=""
                                         class="theme-a-nav_dropdown-menu_icon" alt="">
                                    <div class="">
                                        <div class="a-text_ss ca-text_white-600">XYZ Generate</div>
                                        <div class="a-text_xs ca-text_grey-400">Lorem ipsum
                                        </div>
                                    </div>
                                    <svg width="11px" height="11px" viewBox="0 0 8 12" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.604 11L6.604 6L1.604 1" stroke="#fff" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </a>

                            </div>
                        </div>
                    </div>
                

                
                </li> {% endcomment %}
                <li>

                    <a id="heading4" href="{% url "dashboard_home" %}">
                       Create molecules
                    </a>
                    <div onmouseover="const mouseoverEvent = new Event('mouseover');this.previousElementSibling.classList.add('hovered')"

                        onmouseout="const mouseoverEvent = new Event('mouseover');this.previousElementSibling.classList.remove('hovered')"
                        id="object3" class="position-absolute hide opac">

                    
                    </div>
                

                
                </li>    
                <li>

                    <a id="heading2" href="{% url "list_of_requests" %}">
                       Requests
                    </a>
                    <div onmouseover="const mouseoverEvent = new Event('mouseover');this.previousElementSibling.classList.add('hovered')"

                        onmouseout="const mouseoverEvent = new Event('mouseover');this.previousElementSibling.classList.remove('hovered')"
                        id="object2" class="position-absolute hide opac">

                    
                    </div>
                

                
                </li>
                <li>

                    <a id="heading3" href="{% url "list_of_reports" %}">
                       Reports
                    </a>
                    <div onmouseover="const mouseoverEvent = new Event('mouseover');this.previousElementSibling.classList.add('hovered')"

                        onmouseout="const mouseoverEvent = new Event('mouseover');this.previousElementSibling.classList.remove('hovered')"
                        id="object3" class="position-absolute hide opac">

                    
                    </div>
                

                
                </li>
        
            </ul>
        </div>
        <a href="{% url "logout_user" %}"
           class="a-button ca-tablet_none w-inline-block">
            <div class="">Logout</div>
        </a>
        <a href="#" class="hamburger">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 120 120"
                 width="120" height="120" preserveAspectRatio="xMidYMid meet"
                 style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                <defs>
                    <clipPath id="__lottie_element_13">
                        <rect width="120" height="120" x="0" y="0"></rect>
                    </clipPath>
                </defs>
                <g clip-path="url(#__lottie_element_13)">
                    <g transform="matrix(1,0,0,1,1.5,91.5)" opacity="1" style="display: block;">
                        <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                            <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="#000"
                                  stroke-opacity="1" stroke-width="9" d=" M4.5,4.5 C4.5,4.5 112.5,4.5 112.5,4.5">
                            </path>
                        </g>
                    </g>
                    <g transform="matrix(1,0,0,1,1.5,55.5)" opacity="1" style="display: block;">
                        <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                            <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="#000"
                                  stroke-opacity="1" stroke-width="9" d=" M4.5,4.5 C4.5,4.5 112.5,4.5 112.5,4.5">
                            </path>
                        </g>
                    </g>
                    <g transform="matrix(1,0,0,1,1.5,19.5)" opacity="1" style="display: block;">
                        <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                            <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0" stroke="#000"
                                  stroke-opacity="1" stroke-width="9" d=" M4.5,4.5 C4.5,4.5 112.5,4.5 112.5,4.5">
                            </path>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
    </div>
</div>
<div class="theme-a-nav_wrap w-nav">

    <div class="mobile-navigation" id="mobile-nav">
        <div class="theme-a-nav_menu-wrap w-nav-menu">
            <div class="mobile-items">
                <ul>
                    {% comment %} <li onclick="ativedropdown(this)">
                        <a href="#">
                            De Novo Molecule Generation
                            <div class="a-icon ca-s ca-tablet_block w-embed arrow-icon"
                                 style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <svg width="100%" height="100%" viewBox="0 0 13 8" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.104 1.5L6.104 6.5L11.104 1.5" stroke="currentcolor" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </a>
                        <div class="dropmenu" style="margin-left: 1rem !important; display: none;">
                            <div class="activ-drop-list">
                                <div>
                                    <div class="solutionss">
                                        <img src="" alt="">
                                        <div class="a-text_s">The XYZ Platform</div>
                                        <p class="a-paragraph_s">Reimagine how you come up with de novo molecules with our AI
                                            platform.
                                            Transform data into drug like compounds.
                                        </p>
                                        <div class=" ca-text_black-500">
                                            <div class="a-text_s ca-600">Learn More</div>
                                            <div class="ca-icon_s w-embed"
                                                 style="transform: translate3d(0em, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                <svg width="100%" height="100%" viewBox="0 0 16 17" fill="#000"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M8 0.651611L6.59 2.06161L12.17 7.65161H0V9.65161H12.17L6.59 15.2416L8 16.6516L16 8.65161L8 0.651611Z"
                                                        fill="#000"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="theme-a-nav_line"></div>
                                    </div>
                                    <div>
                                        <a href="#" class="theme-a-nav_dropdown-menu_item w-inline-block">
                                            <img src=""
                                                 class="theme-a-nav_dropdown-menu_icon" alt="">
                                            <div class="">
                                                <div class="a-text_ss ca-text_white-600">How it works</div>
                                                <div class="a-text_xs ca-text_grey-400"> Find out what goes on to generate molecules
                                                </div>
                                            </div>
                                            <svg width="11px" height="11px" viewBox="0 0 8 12" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.604 11L6.604 6L1.604 1" stroke="#fff" stroke-width="2"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="theme-a-nav_dropdown-menu_item w-inline-block">
                                            <img src=""
                                                 class="theme-a-nav_dropdown-menu_icon" alt="">
                                            <div class="">
                                                <div class="a-text_ss ca-text_white-600">XYZ Generate</div>
                                                <div class="a-text_xs ca-text_grey-400">Lorem ipsum
                                                </div>
                                            </div>
                                            <svg width="11px" height="11px" viewBox="0 0 8 12" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.604 11L6.604 6L1.604 1" stroke="#fff" stroke-width="2"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="theme-a-nav_dropdown-menu_item w-inline-block">
                                            <img src=""
                                                 class="theme-a-nav_dropdown-menu_icon" alt="">
                                            <div class="">
                                                <div class="a-text_ss ca-text_white-600">XYZ Generate</div>
                                                <div class="a-text_xs ca-text_grey-400">
                                                    lorem ipsum
                                                </div>
                                            </div>
                                            <svg width="11px" height="11px" viewBox="0 0 8 12" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.604 11L6.604 6L1.604 1" stroke="#fff" stroke-width="2"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li> {% endcomment %}

                    <li><a href="{% url "dashboard_home" %}">Create molecules</a></li>


                    <li><a href="{% url "list_of_requests" %}">Requests</a></li>
                    <li><a href="{% url "list_of_reports" %}">Reports</a></li>

                </ul>
                <a href="{% url "logout_user" %}"
                   class="a-button a-button2 ca-tablet_none w-inline-block">
                    <div class="">Logout</div>
                </a>
            </div>
        </div>
    </div>

</div>