<div class="modal" tabindex="-1" id="feedbackModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Feedback</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <form id="feedback_form" class="form"
          hx-post="{% url 'add_feedback_htmx' %}"
          hx-swap="outerHTML"
          hx-encoding='multipart/form-data'>
        
        
          <div class="text-center my-4">
                <h4 class="mb-3">Share any feedback or suggestions here</h4>
          </div>
        
          <div class="d-flex flex-column mb-8">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                <span class="fs-1 required">Feedback</span>
                <span class="ms-1" data-bs-toggle="tooltip" title="We will try to get back to you as soon as possible">
                    <i class="ki-outline ki-information-5 text-gray-500 fs-6"></i>
                </span>
            </label>
            <!--end::Label-->
            <textarea required="" class="form-control form-control-solid" rows="5" name="feedback" placeholder="Enter here" maxlength='7000'></textarea>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn site-secondary-button" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn site-button">Send</button>
        </div>
        
        </form>
          
            
  
        </div>
      </div>
    </div>
  </div>