<div id="renderMolecules">
  {% if generation_request.complete %}
    <img src="{{molecule.molecular_structure.url}}" class="img-fluid"><br>
    <b>
      {{molecule.smile_identifier}}
      <br>
    </b>
    <br>

    <div class="album p-5 bg-body-tertiary">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for molecule in generation_request.get_molecules %}

            <div class="col">
              <div class="card shadow-sm">
                <img src="{{molecule.molecular_structure.url}}" alt="" class="card-img-top">
                <div class="card-body">
                  <p class="card-text">
                    SMILES 
                    <br>
                    <b>{{molecule.smile_identifier}}</b>


                    <br>


                      <div class="accordion" id="accordion{{forloop.counter}}">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
                              Molecule details
                            </button>
                          </h2>
                          <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                              <b class="text-center">Physicochemical</b>

                              <div class="p-1">
                                Molecular formula: <b>{{molecule.molecular_formula}}</b>
                                <br>
                                Molecular weight: <b>{{molecule.molecular_weight}} g/mol</b>
                                <br>
                                H-bond acceptors: <b>{{molecule.H_bond_acceptors}}</b>
                                <br>
                                H-bond donors: <b>{{molecule.H_bond_donors}}</b>
                                <br>
                                Heavy atoms: <b>{{molecule.heavy_atoms}}</b>
                                <br>
                                Rotatable bonds: <b>{{molecule.rotatable_bonds}}</b>


                              </div>

                              <br>

                              <b class="text-center"> Druglikeness</b>

                              <div class="p-1">
                               Lipinski's descriptors: <b>Pass: 0 violations</b>
                              </div>
                                
                              <br>

                              <b class="text-center">Synthesizability</b>

                              <div class="p-1">
                                SA (Synthetic Accessibility score): <b>{{molecule.synthetic_accessibility_score}}</b>
                              </div>
                                
                            </div>
                          </div>
                        </div>
       
                      </div>



                  </p>
                  <div class="d-flex justify-content-end align-items-end">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Save</button>
                      <button type="button" class="btn btn-sm btn-outline-primary">View details</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>




  {% else %}
    <div class="justify-content-center  d-flex"
         hx-get="{% url "poll_for_request_completion" generation_request.uuid %}"
         hx-trigger="every 1s"
         hx-target="#renderMolecules"
         hx-swap="outerHTML"
         hx-indicator="#spinner"



    >

      <div id="spinner" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>


    </div>

  {% endif %}
</div>