<div id="renderMolecules">

    <div id="" class="py-5">
        
        <div>
            <div class="col-12 col-sm-6 mx-auto justify-content-center  p-2 border-custom rounded">
                <h3  class="text-center my-2">Request summary</h3>


                <p class="px-4">
                    Organism: <b>{{generation_request.organism}}</b>
                    {% if generation_request.disease %}
                    <br>
                    Disease: <b>{{generation_request.disease}}</b>
                    {% endif %}

                    {% if generation_request.target %}
                    <br>
                    Target: <b>{{generation_request.target}}</b>
                    {% endif %}

                    <br>
                    Standard value cut off: 
                    <b>
                    {{generation_request.target.standard_type}} 
                    {% if generation_request.comparator == 'less_than' %}<
                    {% elif generation_request.comparator == "greater_than" %}>
                    {% elif generation_request.comparator == "less_than_or_equal_to" %}<=
                    {% elif generation_request.comparator == "greater_than_or_equal_to" %}>=
                    {% endif %}
                    {{generation_request.standard_value_cutoff}} ({{generation_request.target.standard_units}}) 
                    </b>

                    <br>
                    Molecules AI will be trained on: <b>{{generation_request.molecules_ai_trained_on}}</b>



                </p>

                <div class="text-center">

                    <div  class="my-3 col-12 col-sm-6 mx-auto">
                        <div class="d-grid">

                                <button class="btn btn-secondary my-2"
                                hx-get={% url "restart_creation_flow" %}
                                hx-target="#renderMolecules"
                                hx-swap="outerHTML"
                                >Restart request</button>

                                <button class="btn btn-primary my-2" 
                                hx-get={% url "create_molecule" generation_request.uuid %}
                                hx-target="#renderMolecules"
                                hx-swap="outerHTML"                                
                                > 
                                    Generate molecules
                                </button>
                                <br>
                        </div>
                        <h7 class="text-muted">Note: The lower the number of molecules the smaller the training dataset and therefore the more limited the insights that can be derived</h7>
                    </div>
            
                    <br>

                </div>
            </div>
        </div>






    </div>


</div>



