
<div id="renderMolecules">

    <h7 class="text-muted mt-2 mb-5">Select target > Selected organism: {{generation_request.organism}}</h7>
    <div id="" class="py-5">


        <h3  class="text-center my-2 mb-3">Select a target {% if generation_request.organism.organism == "Homo sapien" %} or disease {% endif %}</h3>

        <form
            hx-post={% url "handle_disease_target_post" generation_request.uuid %}
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-target="#renderMolecules"
            hx-swap="outerHTML">


            <div class="py-5">

                <select name="target" style="opacity:0;"id="selectOrganism" class="form-select d-none">

                    {% for target in targets %}

                        <option value="{{target.id}}" id="option_{{target.id}}" {% if forloop.first %} checked {% endif %}></option>
                    {% endfor %}

                </select>


                <div class="row justify-content-center  p-1" style="gap: 1.5rem !important;">

                    {% for target in targets %}
                        <div role="button" onclick="SelectDeselectSingle(this);" id="card_{{target.id}}"
                             class=" card_choice rounded   col-12 col-sm-5 {% if forloop.first %}border-custom {% else %}border-lightgrey{% endif %} " data-option="{{target.id}}" style="min-width:8rem;">
                            <div style="" class="text-center py-4">

                                

                                <h4 class="card-title">
                                    {% if target.disease %}
                                        {{target.disease}}
                                    {% else %}
                                        {{target}}
                                    {% endif %}

                                </h4>
                                
                            </div>
                        </div>
                    {% endfor %}



                </div>


                <script>
                    function SelectDeselectSingle(e) {
                        option_id = "#option_" + e.getAttribute('data-option')
                        optionToSelect = document.querySelector(option_id)
                        select_field = document.querySelector('#selectOrganism')
                        if (optionToSelect.selected){
                            e.classList.remove('border-custom')
                            e.classList.add('border-lightgrey')
                            optionToSelect.selected = false;
                            select_field.value = ''
                        } else {
                            e.classList.add('border-custom')
                            e.classList.remove('border-lightgrey')
                            //Remove borders from others not selected

                            options_cards = Array.from(e.parentNode.querySelectorAll('.card_choice'))
                            for (let i = 0; i < options_cards.length; i++) {
                                if (options_cards[i] != e){
                                    options_cards[i].classList.remove('border-custom')
                                    options_cards[i].classList.add('border-lightgrey')
                                }

                            }
                            optionToSelect.selected = true;
                            classes = e.classList

                        }
                    };
                </script>
            </div>
            {% include "generation_flow/includes/continue_restart_button.html" %}

        </form>

        {% include "generation_flow/includes/chembl_note.html" %}


    </div>

</div>

